@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(calc(var(--distance)));
  }
  100% {
    transform: translateY(0px);
  }
}

.art-container {
  position: relative;
  width: 100%;
  height: 80%;
}

.art {
  position: absolute;
  width: 40%;
  height: auto;
  animation: floating var(--speed) ease-in-out infinite;
}

.cat1 {
  left: 24%;
  animation-duration: 3s;
  animation-delay: 1s;
  --distance: 22px;
  --speed: 3.5s;
}

.cat2 {
  top: 30%;
  left: 50%;
  --distance: -10px;
  --speed: 2s;
}

.cat3 {
  top: 40%;
  --distance: 21px;
  --speed: 2.5s;
}

.aliencat {
  top: 55%;
  left: 60%;
  --distance: 10px;
  --speed: 1.5s;
}

.star1 {
  left: 45%;
  top: -5%;
  --distance: 12px;
  --speed: 3s;
}

.star2 {
  top: 15%;
  left: 0%;
  --speed: 2.2s;
  --distance: -10px;
}

.star3 {
  top: 60%;
  left: 20%;
  --speed: 3s;
  --distance: 15px;
}

.spaceship {
  left: -5%;
  --distance: 5px;
  --speed: 2.3s;
}

.star4 {
  top: 30%;
  left: 20%;
  --distance: 10px;
  --speed: 2s;
}

.flex-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
